<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
  <div class="page-container">
      <header>
          <div class="title-container">
              <h1 class="site-title">{{ site.title }}</h1>
          </div>
          <nav>
              <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/projects">Projects</a></li>
                  <li><a href="/contact">Contact</a></li>
              </ul>
          </nav>
      </header>

      <main class="content-bubble">
          {{ content }}
      </main>

      <footer>
          <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}. All rights reserved.</p>
      </footer>
  </div>

  <script src="/assets/js/main.js"></script>
</body>
</html>